

<main class="text-gray-600 relative">
    <div id="about" class="grid sm:grid-cols-2 md:grid-cols-4 place-items-center card mt-0";> <!-- Section 1.2 Intro BEGINS-->
        <div class="p-5 sm:col-span-1 md:col-span-1 "> <!-- Profile Picture-->
            <img src="img/AKpp.png" alt="AK's profile picture" class="w-44">
        </div> 
        <div class="p-5 sm:col-span-1 md:col-span-3 border-l-2 border-headerBg"> <!-- About -->
            It is my strong belief that building technology is an Artform and the engineers are Artisans. We work continuously to hone our skills and take great pride in our Art. To the end that our Art can touch people's lives and help them thrive.
        </div>
    </div> 
    <!-- Section 1.2 Intro ENDS -->
   
    <div class="text-center"> 
        <span class="text-headerBg font-semibold">• • •</span>
    </div>    
    
    <!-- Section 1.9 JOURNEY BEGINS -->
    <div id="journey" class="card mt-10 p-14 pl-2 pr-2 sm:pl-16 sm:pr-16"> 
        <div class="text-center"><span class="text-headerBg font-bold"> THE JOURNEY </span></div>
        <div class="text-left p-4">

            <br><br>

            <div>
                <div class="text-2xl text-pink-700 font-semibold inline">2010-2014 ..  </div>
                For someone who started her career path with a <strong>B.Tech in Computer Science</strong>, the above sentiment was not easily arrived at. It was much like one of those typical Indian arranged marriages. For you see, my first love was English and studying languages in general. 
                <br>
                But admittedly, I did get to learn many languages.  C, C++, Java and Python in my college years. We even built a Facebook application for our final year project that could predict the user's personality based on his posts.  
            </div>

            <br>

            <div class="text-center p-8"> 
                <span class="text-headerBg"> •  •• • ••  • </span>
            </div>  

            <div class="pt-8">
                <div class="text-2xl text-pink-700 font-semibold inline">2014-2017 ..  </div>
                Then campus placement got me in<strong> Accenture, Chennai</strong> and once again I got to learn new languages - COBOL, JCL and CICS <strong>(Mainframes)</strong>. 
                <br>
                These 3 years found me designing, building, testing and maintaining new features along with production support for our <strong>Healthcare Insurance </strong>client. This provided me with a solid foundation and understanding of the Software Development cycle, collaboration across multiple teams, the protocols to follow and endless (but necessary) documentations. 
            </div>

            <br>

            <div class="text-center p-8"> 
                <span class="text-headerBg"> •  •• • ••  • </span>
            </div>  

            
            <div class="pt-8">
                <div class="text-2xl text-pink-700 font-semibold inline">2017-2019 ..  </div>
                Change is the only constant and a new opportunity arrived in the form of<strong> Deloitte, Hyderabad</strong>. It was once again a combination of <strong>Healthcare Insurance and Mainframes</strong>. I was part of a reporting team - we had a few timed Jobs (Functions that the Mainframe OS runs) that processed client data and gave valuable performance insights. 
                <br>
                Originally a 3-person-effort over a week's time - and here I initiated an automation effort. Backed by a supportive lead, manager and talented team, we managed to almost completely automate this process - bringing it down to 1 person effort over 2-3 days.
            </div>
            

            <br>

            <div class="text-center p-8"> 
                <span class="text-headerBg"> •  •• • ••  • </span>
            </div>  


            <div class="pt-8">
                <div class="text-2xl text-pink-700 font-semibold inline">2019-2020 ..  </div>
                At this point in my career, I wanted to explore a different path, specifically <strong>Consulting</strong>. I was also looking for a high paced challenging work environment. As the saying goes "A Calm Sea never made a Skilled Sailor". 
                <br>
                And my not-so-calm-sea, I did find, at<strong> HighRadius Corp., Hyderabad</strong>. 
                <br><br>
                At HighRadius, I came to face my shortcomings and breaking points in the fast paced environment. But I also found great help and guidance from my amazing mentors at HighRadius. That combined with my openness to feedback and learning, I was able to successfully retrospect, address and overcome hurdles. And finally - one vast enterprise project was successfully delivered. 
            </div>

            <br>

            <div class="text-center p-8"> 
                <span class="text-headerBg"> •  •• • ••  • </span>
            </div>  


            <div class="pt-8">
                <div class="text-2xl text-pink-700 font-semibold inline">2020 ~ ..  </div>
                    A happy realization? I found my way back to Coding. 
                <br>
                    I picked up my early interest of Web Development.
                I am currently building up my<strong> Full Stack Web Development</strong> skills, specifically<strong> MERN Stack</strong>. 
                And now on the lookout for the next adventure that comes my way!
            </div>

        </div>
    </div>
        
    <!-- Section 1.9 JOURNEY ENDS -->