<div id="hobbies"></div>            
            <div class="card mt-10 p-6"> 
                <div class="text-center pt-6 pb-2"> <!-- header -->
                    <span class="text-headerBg font-bold"> HOBBIES </span>
                </div>
                <div> <!-- content -->
                <div class="card_wrapper"> <!-- Hobby Card -->
                        <div class="card_item_image">
                            <img src="img/language.png" alt="language_image" class="w-48 block">
                            <span class="card_item_image_title">Languages</span>
                        </div>
                        <div class="card_item_content"> 
                            Languages are my first love. Programming and otherwise. To be able to understand a foreign language and communicate with natives is a wonderful thing. Even more wonderful is being able to enjoy movies and dramas, without the need for subtitles. 
                        </div>
                </div> <!-- Hobby Card End -->

                <!-- Hobby Card ANIME FOR SMALL -->
                <div class="sm:hidden card_wrapper">  
                        <div class="card_item_image">
                            <img src="img/anime.png" alt="anime_image" class="w-48 block">
                            <span class="card_item_image_title">Anime</span>
                        </div>                    
                        <div class="card_item_content"> 
                            Overcoming the need for subtitles was founded here. I grew up watching Animes and they have had a massive influence on my views and values. I am especially into "Shonen" genre (literal translation "boy"), which are mostly action and adventure. Some of my all time favourites are "HunterXHunter", "Fullmetal Alchemist: Brotherhood", "Sket Dance" and "Naruto". 
                        </div>    
                    </div> 
                    <!-- Hobby Card End -->

                    <!-- Hobby Card ANIME FOR LARGE -->
                    <div class="hidden card_wrapper"> 
                        <div class="hidden sm:block card_item_content"> 
                            Overcoming the need for subtitles was founded here. I grew up watching Animes and they have had a massive influence on my views and values. I am especially into "Shonen" genre (literal translation "boy"), which are mostly action and adventure. Some of my all time favourites are "HunterXHunter", "Fullmetal Alchemist: Brotherhood", "Sket Dance" and "Naruto". 
                        </div>
                        <div class="hidden sm:block card_item_image">
                            <img src="img/anime.png" alt="anime_image" class="w-48 block">
                            <span class="card_item_image_title">Anime</span>
                        </div>    
                    </div> 
                    <!-- Hobby Card End -->
                    <div class="card_wrapper"> <!-- Hobby Card -->
                        <div class="card_item_image">
                            <img src="img/sports.png" alt="sports_image" class="w-48 block">
                            <span class="card_item_image_title">Sports</span>
                        </div>
                        <div class="card_item_content"> 
                            "Up for a game?" would always get a "Oh, yes!" from me. I enjoy playing all kinds of sports. Especially team sports like volleyball. Even with games like badminton and table tennis, I like the doubles version more than singles. Something about fighting together as a team and bringing out each other's best side gets me hooked.
                        </div>
                    </div> <!-- Hobby Card End -->

                </div>                
            </div> <!-- Section HOBBIES ENDS -->